//
//  develop.xcconfig
//  instalite
//
//  Created by Veera on 10/12/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ACCESS_TOKEN = IGQVJVVUpOeTIxbExCUkt3OFk0MU10VXJveGlvMXNoeUEwMjR0OUVldE1fODZAUN1EwWGRSbkF2LWYtTzQzWC1IdnRzS0hiWExFVE9TOHdGYTZAzVmk0WmFHVkd4S3FqVm45QktmQXdjMktRM0ZAMWXhwNgZDZD
